{% extends "base.html" %}
{% block content %}
<br>
<h2 class="text-primary">Course List</h2>
<h3 class="text-primary">current competition courses</h3>
<br>
<!-- code to display list of courses-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course</th>
            <th>Name</th>
            <th>Map diagram</th>
        </tr>
    </thead>
    <tbody>
    {% for course in course_list %}
        <tr>

                <th>{{course[0]}}</th>
                <th>{{course[1]}}</th>
                <th><img src="{{ url_for('static', filename=course[2])}}"  class="img-thumbnail" ></th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}