{% extends "base.html" %}
{% block header %}
<br>
<h2 class="text-primary">Course List</h2>
<h3 class="text-primary">current competition courses</h3>
<br>
{% endblock %}

{% block content %}
<!-- code to display list of courses-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center" width="50">Course</th>
            <th class="text-center" width="50">Name</th>
            <th class="text-center" width="400">Map Diagram</th>
        </tr>
    </thead>
    <tbody>
    {% for course in course_list %}
        <tr>
                <td class="text-center">{{course[0]}}</th>
                <td class="text-center">{{course[1]}}</th>
                <td class="text-center"><img src="{{ url_for('static', filename=course[2])}}"  class="img-thumbnail form-control input-sm text-center"></th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}