{% extends "admin.html" %}
{% block content %}

<h2>Add Driver</h2>

<!-- code to display input table for add driver-->

<br>
<form id="driver_form" name="driver_form" action="/driveraddnonjunior" method="post">
    <p>
        <table>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" width="90">Driver Name</th>
                    <th class="text-center" width="90">Car</th>
                    <th class="text-center" width="90"></th>
                    <th class="text-center" width="90"></th>
                </tr> 
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input type="text"  value="" name="firstname" placeholder="Firstname" class="input-sm text-center" required>
                        <input type="text"  value="" name="surname" placeholder="Surname" class="input-sm text-center" required>
                    </td>
                    <td>
                        <select name="car" id="car" class="form-control input-sm text-center" required>
                            <!-- <option selected>&lt; Select a car &gt;</option> -->
                            <option value="">&lt; Select a car &gt;</option>
                            {% for car in car_list %}
                                <option value="{{car[0]}}">{{car[0]}} - {{car[1]}} {{car[2]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    
                    <td></td>
                    <td></td>
                </tr>
                <!-- <tr>
                    <td>
                        <input type="submit" value="Add" class="form-control input-sm text-center" width="90"/>
                </td>
                </tr> -->
            </tbody>
        </table>
    </p>
        <input type="submit" value="Submit To Add One Non-Junior Driver"/>
</form>

<br>
<br>
<br>

<form id="juniordriver_form" name="juniordriver_form" action="/driveraddjunior" method="post">
    <p>
        <table>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" width="90">Driver Name</th>
                    <th class="text-center" width="90">Car</th>
                    <th class="text-center" width="90">Caregiver</th>
                    <th class="text-center" width="90">Birthday</th>
                </tr> 
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input type="text"  value="" name="firstname" placeholder="Firstname" class="input-sm text-center" required>
                        <input type="text"  value="" name="surname" placeholder="Surname" class="input-sm text-center" required>
                    </td>
                    <td>
                        <select name="car" id="car" class="form-control input-sm text-center" required>
                            <option value="" selected>&lt; Select a car &gt;</option>
                            {% for car in car_list %}
                                <option value="{{car[0]}}">{{car[0]}} - {{car[1]}} {{car[2]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    
                    <td>
                        <select name="caregiver" id="caregiver" class="form-control input-sm text-center" required>
                            <option value="" selected>&lt; Select a caregiver &gt;</option>
                            {% for caregiver in caregiver_list %}
                                <option value="{{caregiver[0]}}">{{caregiver[0]}} - {{caregiver[1]}} {{caregiver[2]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" value="" name="birthday" class="form-control input-sm text-center" placeholder="DD/MM/YYYY" required></td>
                </tr>
                <!-- <tr>
                    <td>
                        <input type="submit" value="Add" class="form-control input-sm text-center" width="90"/>
                </td>
                </tr> -->
            </tbody>
        </table>
    </p>

    <p>
        <input type="submit" value="Submit To Add One Junior Driver"/>
    </p>
</form>


{% endblock %}