{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<br>
<h2 class="text-primary">Driver List</h2>
<br>
<!-- code to display list of courses-->
<table>
    <table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Driver ID</th>
            <th class="text-center">Driver Name</th>
            <th class="text-center">Car Model</th>
            <th class="text-center">Drive Class</th>
        </tr>
    </thead>
    <tbody>
    {% for singlelist in driver_list %}
        {% set sFlag = "" %} 
        {% if singlelist[4] == None %}
            <tr>
        {% elif singlelist[4] <= 25 %}
            {% set sFlag = "(J)" %}
            <tr class="table-warning">
        {% endif %}
                <th class="text-center">{{singlelist[0]}}</th>
                <th class="text-center"><a href="rundetail?driverid={{singlelist[0]}}">{{singlelist[1]}} {{singlelist[2]}} {{sFlag}}</a></th>
                <th class="text-center">{{singlelist[8]}}</th>
                <th class="text-center">{{singlelist[9]}}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}