{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<h2>Driver List</h2>

<!-- code to display list of courses-->
<table>
    <!-- <table class="table table-striped"> -->
    <thead>
        <tr>
            <th>Driver ID</th>
            <th>Driver Name</th>
            <th>Car Model</th>
            <th>Drive Class</th>
        </tr>
    </thead>
    <tbody>
    {% for singlelist in driver_list %}
        {#{% if singlelist[4] <= 25 %}

        {% endif %}#}
        <tr style="background-color:yellow">

                <th>{{singlelist[0]}}</th>
                <th>{{singlelist[1]}} {{singlelist[2]}}</th>
                <th>{{singlelist[8]}}</th>
                <th>{{singlelist[9]}}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}