{% extends "admin.html" %}
{% block header %}
<br>
<h2 class="text-primary">Add Driver</h2>
<br>
<br>
{% endblock %}

{% block content %}
<h5 class="text-primary">Step 1 - Input Basic Information</h5>


<!-- code to display input table for add driver-->

<br>
<form id="driver_form" name="driver_form" action="/driveraddnext" method="post">
    <p>
        <table>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" width="200">Driver Name</th>
                    <th class="text-center" width="200"></th>
                    <th class="text-center" width="30"></th>
                    <th class="text-center" width="200">Car</th>
                    <th class="text-center" width="90"></th>
                </tr> 
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input type="text"  value="" name="firstname" placeholder="Firstname" class="form-control input-sm text-center" required>
                    </td>
                    <td>
                        <input type="text"  value="" name="surname" placeholder="Surname" class="form-control input-sm text-center" required>
                    </td>
                    <td>
                        <input type="hidden" class="form-control input-sm text-center" required>
                    </td>
                    <td>
                        <select name="car" id="car" class="form-control input-sm text-center" required>
                            <option value="">&lt; Select a car &gt;</option>
                            {% for car in car_list %}
                                <option value="{{car[0]}} - {{car[1]}} {{car[2]}}">{{car[0]}} - {{car[1]}} {{car[2]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </p>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="radio1" name="driverType" value="option25" checked>Non-Junior Driver (Age > 25 years)
        <label class="form-check-label" for="radio1"></label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="radio2" name="driverType" value="option16_25">Junior Driver (16 years < Age <= 25 years)
        <label class="form-check-label" for="radio2"></label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="radio3" name="driverType" value="option12_16">Junior Driver (12 years <= Age <= 16 years)
        <label class="form-check-label" for="radio2"></label>
    </div>
    <br>
    <br>
    <input type="submit" value="Next Step To Add One Driver" class="input-lg text-center btn btn-primary btn-sm" width="90"/>
</form>



{% endblock %}