{% extends "admin.html" %}
{% block content %}
<br>
<h2 class="text-primary">Search Driver</h2>
<br>

<table>
    <thead>
        <tr>
            <th class="text-center">
                <form id="driver_form" name="driver_form" action="/searchdriver/filter" method="post">
                    <input type="text" value="{{driver_name}}" name="driver" placeholder="Input driver name here"/>
                    <input type="submit" value="Search" />
                </form>
            </th>
             <th class="text-center">
                <form id="driver_form" name="driver_form" action="/searchdriver/filter" method="post">
                    <input type="hidden" value="" name="driver" placeholder="Input driver name here"/>
                    <input type="submit" value="Reset" />
                </form>
             </th>
        </tr>
    </thead>
</table>
<br>
<!-- code to display list of drivers-->
<table class="table table-bordered">
    <thead>
        <tr>
             <th class="text-center">Driver ID</th>
             <th class="text-center">Driver Name</th>
             <th class="text-center">Car Model</th>
             <th class="text-center">Drive Class</th>
             <th class="text-center">Caregiver</th>
             <th class="text-center">Age</th>
        </tr>
    </thead>
    <tbody>
    {% if driver_list | length  %}

        {% for singlelist in driver_list %}
            {% set sFlag = "" %} 
            {% if singlelist[3] == None %}
                <tr>
            {% elif singlelist[3] <= 25 %}
                {% set sFlag = "(J)" %}
                <tr class="table-warning">
            {% endif %}
                    <th class="text-center">{{singlelist[0]}}</th>
                    <th class="text-center">{{singlelist[1]}} {{singlelist[2]}} {{sFlag}}</th>
                    <th class="text-center">{{singlelist[4]}}</th>
                    <th class="text-center">{{singlelist[5]}}</th>
                    {% if singlelist[6] == None %}
                        <th class="text-center"></th>
                    {% else %}
                        <th class="text-center">{{singlelist[6]}} {{singlelist[7]}}</th>
                    {% endif %}
                    {% if singlelist[3] == None %}
                        <th class="text-center"></th>
                    {% else %}
                    <th class="text-center">{{singlelist[3]}}</th>
                    {% endif %}
                </tr>
        {% endfor %}
    </tbody>
</table>
    {% else %}
    </tbody>
</table>
<h5 class="text-primary text-center"><em>Sorry, there are no matching driver here.</em></h5>
    {% endif %}

{% endblock %}