{% extends "admin.html" %}
{% block content %}
<br>
<h2 class="text-primary">Junior Driver List</h2>
<br>
<!-- code to display list of junior driver-->
<table>
    <table class="table table-striped">
    <thead>
        <tr>
             <th class="text-center">Driver ID</th>
             <th class="text-center">Driver Name</th>
             <th class="text-center">Car Model</th>
             <th class="text-center">Drive Class</th>
             <th class="text-center">Caregiver</th>
             <th class="text-center">Age</th>
        </tr>
    </thead>
    <tbody>
    {% for singlelist in driver_list %}
        {% set sFlag = "" %} 
        {% if singlelist[3] != None %}
            {% if singlelist[3] <= 25 %}
                {% set sFlag = "(J)" %}
                
                <tr>
                     <th class="text-center">{{singlelist[0]}}</th>
                     <th class="text-center">{{singlelist[1]}} {{singlelist[2]}} {{sFlag}}</th>
                     <th class="text-center">{{singlelist[4]}}</th>
                     <th class="text-center">{{singlelist[5]}}</th>
                    {% if singlelist[6] == None %}
                         <th class="text-center"></th>
                    {% else %}
                         <th class="text-center">{{singlelist[6]}} {{singlelist[7]}}</th>
                    {% endif %}
                     <th class="text-center">{{singlelist[3]}}</th>  
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}