{% extends "base.html" %}
{% block content %}
<br>
<h2 class="text-primary">Run Details</h2>
<br>
<table>
    <thead>
        <tr>
            <th class="text-center">
                <form id="driver_form" name="driver_form" action="/rundetail" method="post">
                    <label>Driver</label>
                    <select name="driver" id="driver">
                        {% if defaul_driver == None %}
                            <option selected>&lt;Select a driver&gt;</option>
                        {% else %}
                            <option value="{{run_detail[0][0]}}" selected> {{run_detail[0][1]}}  {{run_detail[0][2]}}</option>
                        {% endif %}
            
                        <option>&lt;Select all drivers&gt;</option>
                        {% for driver in driver_List %}
                            <!-- if statement adds:  selected="selected"  to the driver that matches driverid, 
                                so that that driver is selected and shown in the dropdown -->
                            <option value="{{driver[0]}}" {% if driver[0] == driverid %}selected="selected"{% endif%}>{{driver[1]}} {{driver[2]}}</option>
                        {% endfor %}
                    </select>
            
                    <input type="submit" value="Filter" />
                </form>
            </th>
             <th class="text-center">
                <form id="driver_form" name="driver_form" action="/rundetail" method="post">
                    <input type="hidden" value="" name="driver"/>
                    <input type="submit" value="Reset" />
                </form>
             </th>
        </tr>
    </thead>
</table>
<br>
<!-- code to display list of courses-->
<table>
    <table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Driver ID</th>
            <th class="text-center">Driver Name</th>
            <th class="text-center">Car Model</th>
            <th class="text-center">Drive Class</th>
            <th class="text-center">Course Name</th>
            <th class="text-center">Run Num</th>
            <th class="text-center">Time</th>
            <th class="text-center">Cones</th>
            <th class="text-center">WD</th>
            <th class="text-center">Run Total</th>
        </tr>
    </thead>
    <tbody>
    {% for singlelist in run_detail %}
        {% if singlelist[3] == None %}
            {% set sFlag = "" %} 
        {% elif singlelist[3] <= 25 %}
            {% set sFlag = "(J)" %}
        {% endif %}
        <tr>
                <th class="text-center">{{singlelist[0]}}</th>
                <th class="text-center">{{singlelist[1]}} {{singlelist[2]}} {{sFlag}}</th>
                <th class="text-center">{{singlelist[4]}}</th>
                <th class="text-center">{{singlelist[5]}}</th>
                <th class="text-center">{{singlelist[7]}}</th>
                <th class="text-center">{{singlelist[8]}}</th>

                {% if singlelist[9] == None %}
                    <th class="text-center">0.0</th>
                {% else %}
                    <th class="text-center">{{singlelist[9]}}</th>
                {% endif %}

                {% if singlelist[10] == None %}
                    <th class="text-center">0</th>
                {% else %}
                    <th class="text-center">{{singlelist[10]}}</th>
                {% endif %}

                <th class="text-center">{{singlelist[11]}}</th>

                {% if singlelist[12] == 0 %}
                    <th class="text-center">0.0</th>
                {% else %}
                    <th class="text-center">{{singlelist[12]}}</th>
                {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}