{% extends "base.html" %}
{% block content %}

<h2>Run Details</h2>

<form id="driver_form" name="driver_form" action="/rundetail" method="post">

    <p>
        <label>Driver</label>
        <select name="driver" id="driver">
            {% if defaul_driver == None %}
                <option selected>&lt;Select a driver&gt;</option>
            {% else %}
                <option value="{{run_detail[0][0]}}" selected> {{run_detail[0][1]}}  {{run_detail[0][2]}}</option>
            {% endif %}

            <option>&lt;Select all drivers&gt;</option>
            {% for driver in driver_List %}
                <!-- if statement adds:  selected="selected"  to the driver that matches driverid, 
                    so that that driver is selected and shown in the dropdown -->
                <option value="{{driver[0]}}" {% if driver[0] == driverid %}selected="selected"{% endif%}>{{driver[1]}} {{driver[2]}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Filter" />
        <!-- <input type="reset" value="Cancel" /> -->

    </p>
</form>

<!-- code to display list of courses-->
<table>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Driver ID</th>
            <th>Driver Name</th>
            <th>Car Model</th>
            <th>Drive Class</th>
            <th>Course Name</th>
            <th>Run Num</th>
            <th>Time</th>
            <th>Cones</th>
            <th>WD</th>
            <th>Run Total</th>
        </tr>
    </thead>
    <tbody>
    {% for singlelist in run_detail %}
        {% if singlelist[3] == None %}
            {% set sFlag = "" %} 
        {% elif singlelist[3] <= 25 %}
            {% set sFlag = "(J)" %}
        {% endif %}
        <tr>
                <th>{{singlelist[0]}}</th>
                <th>{{singlelist[1]}} {{singlelist[2]}} {{sFlag}}</th>
                <th>{{singlelist[4]}}</th>
                <th>{{singlelist[5]}}</th>
                <th>{{singlelist[7]}}</th>
                <th>{{singlelist[8]}}</th>

                {% if singlelist[9] == None %}
                    <th>0.0</th>
                {% else %}
                    <th>{{singlelist[9]}}</th>
                {% endif %}

                {% if singlelist[10] == None %}
                    <th>0</th>
                {% else %}
                    <th>{{singlelist[10]}}</th>
                {% endif %}

                <th>{{singlelist[11]}}</th>

                {% if singlelist[12] == 0 %}
                    <th>0.0</th>
                {% else %}
                    <th>{{singlelist[12]}}</th>
                {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}