{% extends "admin.html" %}
{% block content %}
<br>
<h2 class="text-primary">Edit Runs</h2>
<br>
<table>
    <tr>
        <td width="10">  </td>
        <th>
            <form id="driver_form" name="driver_form" action="/runedit" method="post">
                    <label>Driver</label>
                    <select name="driver" id="driver">
                        {% if defaul_driver == None %}
                            <option selected>&lt; Select a driver &gt;</option>
                        {% else %}
                            <option value="{{run_detail[0][0]}}" selected> {{run_detail[0][1]}}  {{run_detail[0][2]}}</option>
                        {% endif %}

                        <option>&lt; Select all drivers &gt;</option>
                        {% for driver in driver_List %}
                            <option value="{{driver[0]}}">{{driver[1]}} {{driver[2]}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Filter" class="btn btn-primary btn-sm"/>
            </form>
        </th>
        <th>
            <form id="driver_form" name="driver_form" action="/runedit" method="post">
                <input type="hidden" value="" name="driver"/>
                <input type="submit" value="Reset" class="btn btn-primary btn-sm"/>
            </form>
         </th>

        <td width="200">  </td>
        <td>
            <form id="course_form" name="course_form" action="/runedit" method="post">
                    <label><b>Course</b></label>
                    <select name="course" id="course">
                        {% if defaul_course == None %}
                            <option selected>&lt; Select a course &gt;</option>
                        {% else %}
                            <option value="{{defaul_course}}" selected> {{defaul_course}} - {{run_detail[0][7]}}</option>
                        {% endif %}

                        <option>&lt; Select all courses &gt;</option>
                        {% for course in course_List %}
                            <option value="{{course[0]}}">{{course[0]}} - {{course[1]}}</option>
                        {% endfor %}
                    </select>

                    <input type="submit" value="Filter" class="btn btn-primary btn-sm"/>

            </form>
        </td>
        <th>
            <form id="course_form" name="course_form" action="/runedit" method="post">
                <input type="hidden" value="Select a course" name="course"/>
                <input type="submit" value="Reset" class="btn btn-primary btn-sm"/>
            </form>
         </th>
    </tr>
</table>
<br>
<!-- code to display list of courses-->
<table>
    <table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center" width="90">Driver ID</th>
            <th class="text-center" width="200">Driver Name</th>
            <th class="text-center" width="100">Car Model</th>
            <th class="text-center" width="110">Drive Class</th>
            <th class="text-center" width="200">Course Name</th>
            <th class="text-center" width="90">Run Num</th>
            <th class="text-center" width="100">Time</th>
            <th class="text-center" width="80">Cones</th>
            <th class="text-center" width="80">WD</th>
            <th class="text-center" width="100">Run Total</th>
        </tr>
    </thead>
    <tbody>
    {% for singlelist in run_detail %}
        {% if singlelist[3] == None %}
            {% set sFlag = "" %} 
        {% elif singlelist[3] <= 25 %}
            {% set sFlag = "(J)" %}
        {% endif %}

        <tr>
            <form id="result_form" name="result_form" action="/runedit/update" method="post">
                <td class="text-center">{{singlelist[0]}}</td>
                <td class="text-center">{{singlelist[1]}} {{singlelist[2]}} {{sFlag}}</td>
                <td class="text-center">{{singlelist[4]}}</td>
                <td class="text-center">{{singlelist[5]}}</td>
                <td class="text-center">{{singlelist[7]}}</td>
                <td class="text-center">{{singlelist[8]}}</td>

                {% if singlelist[9] == None %}
                    <td><input type="text" value="0.0" name="time" class="form-control input-sm text-center"></td>
                {% else %}
                    <td><input type="text" value="{{singlelist[9]}}" name="time" class="form-control input-sm text-center"></td>
                {% endif %}

                {% if singlelist[10] == None %}
                    <td><input type="text" value="0" name="cone" class="form-control input-sm text-center"></td>
                {% else %}
                    <td><input type="text" value="{{singlelist[10]}}" name="cone" class="form-control input-sm text-center"></td>
                {% endif %}
                
                <td>
                    <select name="wd" id="wd" class="form-control input-sm text-center" required>
                        <option selected value="{{singlelist[11]}}">{{singlelist[11]}}</option>
                        {% if singlelist[11] == 0 %}
                            <option value=1>1</option>
                        {% else %}
                            <option value=0>0</option>
                        {% endif %}
                    </select>
                </td>

                {% if singlelist[12] == 0 %}
                    <td class="text-center" width="100">0.0</td>
                {% else %}
                    <td class="text-center" width="100">{{singlelist[12]}}</td>
                {% endif %}

                <td> <input type="submit" value="Edit" /></td>
                <td><input type="hidden" value="{{singlelist[0]}}" name="driverid" class="form-control input-sm"></td>
                <td><input type="hidden" value="{{singlelist[6]}}" name="courseid" class="form-control input-sm"></td>
                <td><input type="hidden" value="{{singlelist[8]}}" name="runnum" class="form-control input-sm"></td>
                <!-- <td><button class="btn btn-success" type="submit">Edit</button></td> -->
            </form>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}