
<!DOCTYPE html>
<html>
    <!-- access Plotly content delivery network (CDN) charting library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% extends "base.html" %}
    {% block content %}
    

    
<body>
    <br>
    <h2 class="text-primary">Bar Graph</h2>
    <div id="myHBarPlot" style="width:100%; max-width:3200px;"></div>



    <script>
        // Use the '|safe' Jinja filter to mark them as safe (prevents the data being html-escaped). eg,
        var resultList = {{value_list | safe}};
        var driverList = {{name_list | safe}};
        
        // Define graph data - set color as royal blue (#4169E1 - royalblue)
        const data = [{ x: resultList,  y: driverList,  type:"bar", orientation:"h", marker: {color:"royalblue"} }];

        // Define graph layout. Excluded a y-axis title as driver names are self-explanatory.
        const layout = { 
            // The length of the x-axis is automatically adjusted according to the maximum and minimum values inputed.
            xaxis: {range: [resultList[4]-20, resultList[0]+40], title: "Overall Results (Seconds)"},
            yaxis: {automargin: true, title: "Drivers"},
            // barmode: 'stack',
            title: "Top 5 Overall Results"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);
    </script>

</body>


{% endblock %}
</html>
